<div class="container">
  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="ui-g-12">
        <h1>Entries</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Description</label>
        <input pInputText type="text" name="descricao" [(ngModel)]="filtro.descricao">
      </div>

      <div class="ui-g-12">
        <label style="display:block">Due date</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{width: '95px'}" name="dataVencimentoDe" [(ngModel)]="filtro.dataVencimentoInicio" #dataVencimentoDe="ngModel" [locale]="br"></p-calendar>
        <label>until</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{width: '95px'}" name="dataVencimentoAte" [(ngModel)]="filtro.dataVencimentoFim" #dataVencimentoAte="ngModel" [locale]="br"></p-calendar>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Search"></button>
      </div>
    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">

      <p-table [value]="lancamentos" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina"
        [totalRecords]="totalRegistros" [lazy]="true" (onLazyLoad)="aoMudarPagina($event)" #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th>Person</th>
            <th>Description</th>
            <th class="col-data">Due date</th>
            <th class="col-data">Payment</th>
            <th class="col-valor-header">Value</th>
            <th style="width: 100px"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancamento>
          <tr>
            <td>{{lancamento.pessoa}}</td>
            <td>{{lancamento.descricao}}</td>
            <td class="col-data">{{lancamento.dataVencimento | date:'dd/MM/y'}}</td>
            <td class="col-data">{{lancamento.dataPagamento | date:'dd/MM/y'}}</td>
            <td class="col-valor">
              <span [ngStyle]="{ color: lancamento.tipo === 'DESPESA' ? 'red' : 'blue'}">{{lancamento.valor | number:'1.2-2'}}</span>
            </td>
            <td class="col-acoes">
              <button pButton type="button" icon="pi pi-pencil" pTooltip="Edit" tooltipPosition="top"
              [routerLink]="['/lancamentos', lancamento.codigo]"></button>
              <button pButton type="button" icon="pi pi-trash" pTooltip="Delete" tooltipPosition="top"
                (click)="confirmarExclusao(lancamento)"
                [disabled]="!auth.temPermissao('ROLE_REMOVER_LANCAMENTO')"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="6">
                No entry found
              </td>
          </tr>
      </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12">
      <button pButton type="button" label="New entry" routerLink="/lancamentos/novo"></button>
    </div>
  </div>

</div>
