<div class="container">

  <form autocomplete="off" (submit)="salvar()" [formGroup]="formulario">

    <div class="ui-g">

      <div class="ui-g-12">
        <h1>{{editando ? 'Editing' : 'New'}} entry</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="tipos" name="tipo" formControlName="tipo"></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Due date</label>
        <p-calendar dateFormat="dd/mm/yy" name="dataVencimento" formControlName="dataVencimento"
          [locale]="br"></p-calendar>
        <p-message *ngIf=" formulario.get('dataVencimento').hasError('required') && formulario.get('dataVencimento').dirty" severity="error" text="Enter an due date"></p-message>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ formulario.get('tipo').value === 'RECEITA' ? 'Receivement' : 'Payment'}}</label>
        <p-calendar dateFormat="dd/mm/yy" [locale]="br" name="dataPagamento" formControlName="dataPagamento"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Description</label>
        <input type="text" pInputText name="descricao" formControlName="descricao">
        <p-message *ngIf="formulario.get('descricao').hasError('obrigatoriedade') && formulario.get('descricao').dirty"
          severity="error" text="Enter a description"></p-message>
        <p-message *ngIf="formulario.get('descricao').hasError('tamanhoMinimo') && formulario.get('descricao').dirty"
          severity="error" text="Minimum {{ formulario.get('descricao').errors.tamanhoMinimo.tamanho }} characters"></p-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Value</label>
        <input type="text" pInputText placeholder="0,00" name="valor"
          currencyMask [options]="{prefix: '', thousands: '.', decimal: ',', allowNegative:false }"
          formControlName="valor" >
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="categoria">
        <label>Category</label>
        <p-dropdown [options]="categorias" placeholder="Select" name="categoria"
          formControlName="codigo">
        </p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="pessoa">
        <label>Person</label>
        <p-dropdown [options]="pessoas" filter="true" placeholder="Select" name="pessoa"
          formControlName="codigo" >
        </p-dropdown>
      </div>
      <div class="ui-g-12  ui-fluid">
        <label>Observation</label>
        <textarea pInputTextarea rows="3" name="observacao" formControlName="observacao"></textarea>
      </div>
      <div class="ui-g-12">
        <p-button type="submit" label="Save" [disabled]="formulario.invalid"></p-button>
        <p-button type="button" label="New" class="ui-button-info" (click)="novo()"></p-button>
        <a routerLink="/lancamentos">Back to search</a>
      </div>

    </div>

  </form>
</div>
