<div class="container">
  <form #pessoaForm="ngForm" autocomplete="off" (submit)="salvar(pessoaForm)">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editando ? "Editing" : "New" }} pearson</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Name</label>
        <input
          pInputText
          type="text"
          name="nome"
          [(ngModel)]="pessoa.nome"
          #nome="ngModel"
          required
          minlength="5"
        />
        <p-message
          *ngIf="nome.hasError('required') && nome.dirty"
          severity="error"
          text="Inform the name"
        ></p-message>
        <p-message
          *ngIf="nome.hasError('minlength') && nome.dirty"
          severity="error"
          text="Minimum of {{
            nome.errors.minlength.requiredLength
          }} characters "
        ></p-message>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Address</label>
        <input
          pInputText
          type="text"
          name="logradouro"
          [(ngModel)]="pessoa.endereco.logradouro"
          #logradouro="ngModel"
          required
        />
        <p-message
          *ngIf="logradouro.hasError('required') && logradouro.dirty"
          severity="error"
          text="Inform the address"
        ></p-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Number</label>
        <input
          pInputText
          type="text"
          name="numero"
          [(ngModel)]="pessoa.endereco.numero"
          #numero="ngModel"
          required
        />
        <p-message
          *ngIf="numero.hasError('required') && numero.dirty"
          severity="error"
          text="Inform the number"
        ></p-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Complement</label>
        <input
          pInputText
          type="text"
          name="complemento"
          [(ngModel)]="pessoa.endereco.complemento"
          #complemento="ngModel"
        />
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Neighborhood</label>
        <input
          pInputText
          type="text"
          name="bairro"
          [(ngModel)]="pessoa.endereco.bairro"
          #bairro="ngModel"
          required
        />
        <p-message
          *ngIf="bairro.hasError('required') && bairro.dirty"
          severity="error"
          text="Inform the neighborhood"
        ></p-message>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Zip code</label>
        <p-inputMask
          mask="99.999-999"
          name="cep"
          [(ngModel)]="pessoa.endereco.cep"
          #cep="ngModel"
          required
        ></p-inputMask>
        <p-message
          *ngIf="cep.hasError('required') && cep.dirty"
          severity="error"
          text="Inform the Zip code"
        ></p-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>State</label>
        <p-dropdown
          [options]="estados"
          placeholder="Selecione"
          name="estadoSelecionado"
          filter="true"
          [(ngModel)]="estadoSelecionado"
          (onChange)="buscarCidadesDoEstado()"
          #estado="ngModel"
          required
        >
        </p-dropdown>
        <p-message
          *ngIf="estado.hasError('required') && estado.dirty"
          severity="error"
          text="Inform the state"
        ></p-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>City</label>
        <p-dropdown
          [options]="cidades"
          placeholder="Selecione"
          name="cidade"
          [(ngModel)]="pessoa.endereco.cidade.codigo"
          #cidade="ngModel"
          required
          filter="true"
          [disabled]="!estadoSelecionado"
        >
        </p-dropdown>
        <p-message
          *ngIf="cidade.hasError('required') && cidade.dirty"
          severity="error"
          text="Inform the city"
        ></p-message>
      </div>

      <div class="ui-g-12">
        <app-pessoa-cadastro-contato
          [contatos]="pessoa.contatos"
        ></app-pessoa-cadastro-contato>
      </div>

      <div class="ui-g-12">
        <p-button
          type="submit"
          label="Salvar"
          [disabled]="pessoaForm.invalid"
        ></p-button>
        <p-button
          type="button"
          label="Novo"
          (click)="nova(pessoaForm)"
        ></p-button>
        <a routerLink="/pessoas">Back to research</a>
      </div>
    </div>
  </form>
</div>
